@charset 'utf-8';
html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
input.inputapp{
  -webkit-appearance: none;
}
body {
  margin: 0 auto;
  padding: 0;
  font: 14px/1.5 arial, "Microsoft YaHei", sans-serif;
  color: #556677;
  background-color: #f1f5f8;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
img {
  -webkit-user-select: none;
  vertical-align: top;
}
li {
  list-style: none;
}
i {
  display: inline-block;
  vertical-align: top;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input,
textarea {
  -webkit-user-select: text;
}
input:focus,
textarea:focus {
  outline: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.block {
  display: block;
}
a {
  color: #556677;
  text-decoration: none;
}
a:hover,a:active,a:link {
  color: inherit;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fw {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.bgcor {
  background-color: #f1f5f8;
}
.nocor {
  color: #a0abbb;
}
.coff {
  color: #fff;
}
.co33 {
  color: #333943;
}
.co55{
  color: #556677;
}
.a0a{
  color: #a0abbb;
}
.red {
  color: #f24c2c;
}
.co3d,
.co3d:hover {
  color: #3d9dda;
}
.ft10 {
  font-size: 10px;
}
.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft15{
  font-size: 15px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft20 {
  font-size: 20px;
}
.ft22 {
  font-size: 22px;
}
.ft24{
  font-size: 24px;
}
.ft25 {
  font-size: 25px;
}
.ft26 {
  font-size: 26px;
}
.ft28 {
  font-size: 28px;
}
.ft30 {
  font-size: 30px;
}
.ft33{
  font-size: 33px;
}
.ft34 {
  font-size: 34px;
}
.ft36 {
  font-size: 38px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pt30{
  padding-top: 30px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.por {
  position: relative;
}
.poa {
  position: absolute;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.errTip {
  font-size: 12px;
  line-height: 1.5;
  color: #f07174;
}
.gray {
  background: #c0c7cc!important;
  color: #fff !important;
}
strong{
  font-weight: normal;
}
.btn-go,
.btn {
  display: block;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  background: #68bdd9;
  text-align: center;
  color: #333943;
  border-radius: 5px;
}
.container {
  display: block;
  width: 100%;
}
body {
  padding: 0!important;
  position: relative;
}
h1,h2,h3,h4,h5,h6{
  color: #333943;
  font-weight: normal;
}
i{
  font-style: normal;
}
.clear{
  clear: both;
}
body,html{
  height: 100%;
}
